/* === Pagination === */
.pagination .page-link {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

/* === active 頁碼 === */
.pagination .page-item.active .page-link {
  color: var(--color-accent);
}

/* 禁用狀態 */
.pagination .page-item.disabled .page-link {
  opacity: 0.3;
  pointer-events: none;
}