<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<title>嶼蔻 - 後台管理系統</title>
	  	
	  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	  	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
	  	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	  	<link rel="stylesheet" th:href="@{/css/all_admin.css}">
	  	
	</head>

	<body>
		<!-- Hamburger Menu -->
		<div class="header">
			<button type="button" class="btn_hamburger px-4"><i class="fa-solid fa-bars"></i></button>
		</div>		
		

		<div class="container">		
			<!-- Sidebar -->
			<aside class="sidebar">
				<button type="button" class="btn_sidebar_close"><i class="fa-solid fa-xmark"></i></button>
				<div class="sidebar_head d-flex flex-column align-items-center gap-2 my-4">
					<a th:href="@{/admin}" class="sidebar_home">
			    		<img th:src="@{/images/admin/logo/yuko_logo_prim.svg}" alt="logo">
			  		</a>
				    <div class="d-flex flex-column align-items-center">
				    	<h5 class="sidebar_title mt-2">Maison d'Yuko</h5>
				    	<h6 class="sidebar_subtitle">後台管理系統</h6>
				    </div>
			    </div>
			
			    <div class="admin_block d-flex justify-content-between align-items-center p-4">
			        <span class=""><span th:text="${session.employeeJobTitle != null ? session.employeeJobTitle : '未知職稱'}">未知職稱</span>：<span th:text="${session.currentEmployee != null ? session.currentEmployee.name : 'Admin'}">Admin</span></span>
			        <a th:href="@{/admin/logout}" class="btn btn_logout">登出</a>
			    </div>
			
			    <nav class="sidebar_nav mt-4">
					<!-- 會員管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/member')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-user"></i> 會員管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/member')} ? 'show'">
			        		<a th:href="@{/admin/select_page}" th:classappend="${currentURI == '/admin/select_page'} ? '-active'" class="sidebar_sub_link">會員查詢</a>
			        		<a th:href="@{/admin/addMember}" th:classappend="${currentURI == '/admin/addMember'} ? '-active'" class="sidebar_sub_link">會員新增</a>
			        		<a th:href="@{/admin/listAllMember}" th:classappend="${currentURI == '/admin/listAllMember'} ? '-active'" class="sidebar_sub_link">會員列表</a>			      			
			      		 
			      		</div>
			    	</div>
					
					<!-- 會員等級 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/memberLevelType')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-user"></i> 會員等級
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/memberLevelType')} ? 'show'">
			        		<a th:href="@{/admin/listAllMemberLevelType}" th:classappend="${currentURI == '/admin/listAllMemberLevelType'} ? '-active'" class="sidebar_sub_link">等級列表</a>
			        		<a th:href="@{/admin/addAllMemberLevelType}" th:classappend="${currentURI == '/admin/addAllMemberLevelType'} ? '-active'" class="sidebar_sub_link">等級新增</a>
			      		</div>
			    	</div>
			
					<!-- 員工管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/staff')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-user-tie"></i> 員工管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/staff')} ? 'show'">
							<a th:href="@{/admin/staff1}" th:classappend="${currentURI == '/admin/staff1'} ? '-active'" class="sidebar_sub_link">新增</a>
							<a th:href="@{/admin/staff2}" th:classappend="${currentURI == '/admin/staff2'} ? '-active'" class="sidebar_sub_link">查詢/編輯</a>
							<a th:href="@{/admin/staff3}" th:classappend="${currentURI == '/admin/staff3'} ? '-active'" class="sidebar_sub_link">權限編輯</a>
						</div>
					</div>
			
					<!-- 住宿管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/room')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-bed"></i> 住宿管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/room')} ? 'show'">
							<a th:href="@{/admin/roomo_info}" th:classappend="${currentURI == '/admin/roomo_info'} ? '-active'" class="sidebar_sub_link">訂單資訊</a>
							<a th:href="@{/admin/listAllRoomType}" th:classappend="${currentURI == '/admin/listAllRoomType'} ? '-active'" class="sidebar_sub_link">房型資訊</a>
							<a th:href="@{/admin/listAllRoomTypeSchedule}" th:classappend="${currentURI == '/admin/listAllRoomTypeSchedule'} ? '-active'" class="sidebar_sub_link">房型預定表資訊</a>
							<a th:href="@{/admin/listAllRoom}" th:classappend="${currentURI == '/admin/listAllRoom'} ? '-active'" class="sidebar_sub_link">房間資訊</a>
						</div>
					</div>
			
					<!-- 餐廳管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/resto')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-utensils"></i> 餐廳管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/resto')} ? 'show'">
							<a th:href="@{/admin/resto_info}" th:classappend="${currentURI == '/admin/resto_info'} ? '-active'" class="sidebar_sub_link">餐廳資訊</a>
							<a th:href="@{/admin/resto_timeslot}" th:classappend="${currentURI == '/admin/resto_timeslot'} ? '-active'" class="sidebar_sub_link">時段管理</a>
							<a th:href="@{/admin/resto_order}" th:classappend="${currentURI == '/admin/resto_order'} ? '-active'" class="sidebar_sub_link">訂單管理</a>
						</div>
					</div>
			
					<!-- 商店管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/shop')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-bag-shopping"></i> 商店管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/shop')} ? 'show'">
							<a th:href="@{/admin/prod/select_page}" th:classappend="${currentURI == '/admin/prod/select_page'} ? '-active'" class="sidebar_sub_link">商品管理</a>
							<a th:href="@{/admin/prodCart/select_page}" th:classappend="${currentURI == '/admin/prodCart/select_page'} ? '-active'" class="sidebar_sub_link">購物車項目</a>
							<a th:href="@{/admin/prodCate/select_page}" th:classappend="${currentURI == '/admin/prodCate/select_page'} ? '-active'" class="sidebar_sub_link">商品類別管理</a>
							<a th:href="@{/admin/prodPhoto/select_page}" th:classappend="${currentURI == '/admin/prodPhoto/select_page'} ? '-active'" class="sidebar_sub_link">商品圖片管理</a>
							<a th:href="@{/admin/shopOrd/select_page}" th:classappend="${currentURI == '/admin/shopOrd/select_page'} ? '-active'" class="sidebar_sub_link">商城訂單</a>
							<a th:href="@{/admin/shopOrdDet/select_page}" th:classappend="${currentURI == '/admin/shopOrdDet/select_page'} ? '-active'" class="sidebar_sub_link">商品訂單明細</a>
						</div>
					</div>
			
					<!-- 優惠管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/coupon')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-ticket"></i> 優惠管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/coupon')} ? 'show'">
							<a th:href="@{/admin/coupon/select}" th:classappend="${currentURI == '/admin/coupon/select'} ? '-active'" class="sidebar_sub_link">折價券管理</a>
						</div>
					</div>
			
					<!-- 客服管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/cs')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-bell-concierge"></i> 客服管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/cs')} ? 'show'">
							<a th:href="@{/admin/cs1}" th:classappend="${currentURI == '/admin/cs1'} ? '-active'" class="sidebar_sub_link">訊息子頁1</a>
						</div>
					</div>
			
					<!-- 消息管理 -->
					<div class="sidebar_section"
						th:classappend="${currentURI.startsWith('/admin/news')} ? '-active'">
						<a class="sidebar_link">
							<i class="fa-solid fa-bullhorn"></i> 消息管理
						</a>
						<div class="submenu_block ps-4"
							th:classappend="${currentURI.startsWith('/admin/news')} ? 'show'">
							<a th:href="@{/admin/news1}" th:classappend="${currentURI == '/admin/news1'} ? '-active'" class="sidebar_sub_link">最新消息</a>
							<a th:href="@{/admin/news2}" th:classappend="${currentURI == '/admin/news2'} ? '-active'" class="sidebar_sub_link">活動消息</a>
							<a th:href="@{/admin/news3}" th:classappend="${currentURI == '/admin/news3'} ? '-active'" class="sidebar_sub_link">媒體消息</a>
						</div>
					</div>
				</nav>		
			</aside>
			
			
			<!-- Main Content -->
			<main class="main_content" th:insert="~{${mainFragment}}"></main>				
			  
      
      
	  </div>
	
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script th:src="@{/js/admin/sidebar.js}"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/js/admin/zh-HANT.js}"></script>
        <script th:src="@{/js/admin/loading_overlay.js}"></script>
        <script th:src="@{/js/admin/toast.js}"></script>
            
		
		
		
		<!-- 依引入的fragment區塊，判別該載入的JS檔(自行增設) -->
		
		<!-- 餐廳 -->
		<script th:if="${mainFragment == 'admin/fragments/resto/restoInfo'}"
        src="https://cdn.tiny.cloud/1/5ydxgx8itt1g2ztd9z0kgct3fry3wndyy5h3mgq55cfw1xxx/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script> 
		<script th:if="${mainFragment == 'admin/fragments/resto/restoInfo'}"
        th:src="@{/js/admin/resto/resto_info.js}"></script>

		<script th:if="${mainFragment == 'admin/fragments/resto/restoTimeslot'}"
        th:src="@{/js/admin/resto/resto_timeslot.js}"></script>
        <script th:if="${mainFragment == 'admin/fragments/resto/restoTimeslot'}"
        src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
        

		<script th:if="${mainFragment == 'admin/fragments/resto/restoOrder'}"
        th:src="@{/js/admin/resto/resto_order.js}"></script>
        <!-- 房間 -->
        <script th:if="${mainFragment == 'admin/fragments/room/listAllRoom'}"
        th:src="@{/js/admin/room/listAllRoom.js}"></script>
        
        <script th:if="${mainFragment == 'admin/fragments/room/listAllRoomType'}"
        src="https://cdn.tiny.cloud/1/5ydxgx8itt1g2ztd9z0kgct3fry3wndyy5h3mgq55cfw1xxx/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
        <script th:if="${mainFragment == 'admin/fragments/room/listAllRoomType'}"
        th:src="@{/js/admin/room/listAllRoomType.js}"></script>
        
        <script th:if="${mainFragment == 'admin/fragments/room/listAllRoomTypeSchedule'}"
        th:src="@{/js/admin/room/listAllRoomTypeSchedule.js}"></script>

		<!-- 住宿訂單 -->
		<script th:if="${mainFragment == 'admin/fragments/roomo/roomoInfo'}"
        src="https://cdn.tiny.cloud/1/5ydxgx8itt1g2ztd9z0kgct3fry3wndyy5h3mgq55cfw1xxx/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script> 
		<script th:if="${mainFragment == 'admin/fragments/roomo/roomoInfo'}"
        th:src="@{/js/admin/roomo/roomo_info.js}"></script>
		

	</body>

</html>