<!-- front-end/member/memberCenter.html -->
<div th:fragment="memberCenterFragment" class="member-card">
  <h2>會員中心</h2>
  <p>歡迎回來：<span th:text="${session.loginMember.memberName}"></span></p>
  <div>
    <p><strong>會員姓名：</strong> <span th:text="${session.loginMember.memberName}"></span></p>
    <p><strong>會員信箱：</strong> <span th:text="${session.loginMember.memberEmail}"></span></p>
    <p><strong>會員等級：</strong> <span th:text="${session.loginMember.memberLevel}"></span></p>
    <p><strong>會員積分：</strong> <span th:text="${session.loginMember.memberPoints}"></span></p>
    <p><strong>累積消費金額：</strong> <span th:text="${session.loginMember.memberAccumulativeConsumption} + ' 元'"></span></p>
  </div>

  <div class="mt-4">
    <a th:href="@{/member/memberLogout}" class="btn btn-danger">登出</a>
  </div>
</div>
