<div th:fragment="addRoomContent">
	<div class="main_addRoom">
		<div class="mt-5 mb-5">
			<h2 class="page_title">新增房間</h2>
		</div>
		<div class="table panel p-4">
			<div
				class="table_header d-flex justify-content-between align-items-end mb-4">
				<form th:action="@{insertRoom}" method="post" th:object="${roomVO}"
					enctype="multipart/form-data">






					<div>
						<label>房間編號:</label> <input type="text" th:field="*{roomId}"
							onclick="hideContent('roomId.errors');" /><br /> <span
							th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}"
							class="error" id="roomId.errors"></span>
					</div>

					<div>
						<label>房型:</label> <select th:field="*{roomTypeVO.roomTypeId}">
							<option th:each="type : ${roomTypeVOList}"
								th:value="${type.roomTypeId}" th:text="${type.roomTypeName}" />
						</select>
						<!-- <span th:if="${#fields.hasErrors('deptVO.deptno')}" th:errors="*{deptVO.deptno}" class="error" id="deptVO.deptno.errors"></span> -->
					</div>

					<div>
						<label>住客姓名:</label> <input type="text"
							th:field="*{roomGuestName}"
							onclick="hideContent('roomGuestName.errors');" /><br /> <span
							th:if="${#fields.hasErrors('roomGuestName')}"
							th:errors="*{roomGuestName}" class="error"
							id="roomGuestName.errors"></span>
					</div>

					<div>
						<label>上下架狀態:</label> <input type="radio"
							th:field="*{roomSaleStatus}" th:value="1"
							onclick="hideContent('roomSaleStatus.errors');" />上架 <input
							type="radio" th:field="*{roomSaleStatus}" th:value="0"
							onclick="hideContent('roomSaleStatus.errors');" />下架<br /> <span
							th:if="${#fields.hasErrors('roomSaleStatus')}"
							th:errors="*{roomSaleStatus}" class="error"
							id="roomSaleStatus.errors"></span>
					</div>

					<div>
						<label>房間狀態:</label> <input type="radio" th:field="*{roomStatus}"
							th:value="0" onclick="hideContent('roomStatus.errors');" />未入住 <input
							type="radio" th:field="*{roomStatus}" th:value="1"
							onclick="hideContent('roomStatus.errors');" />已入住 <input
							type="radio" th:field="*{roomStatus}" th:value="2"
							onclick="hideContent('roomStatus.errors');" />待清潔<br /> <span
							th:if="${#fields.hasErrors('roomStatus')}"
							th:errors="*{roomStatus}" class="error" id="roomStatus.errors"></span>
					</div>

					<div>
						<div></div>
						<div>
							<button type="submit" id="submit">送出新增</button>
						</div>
						<div></div>
					</div>
				</form>
			</div>
		</div>