<div th:fragment="roomTypeScheduleList">
	<div class="main_roomTypeSchedule_info">
	
		<div class="mt-5 mb-5">
			<h2 class="page_title">房型預定表資訊</h2>
		</div>
	

		
		<!-- 資料表 -->
		<div class="table panel p-4">
			<div class="table_header d-flex justify-content-between align-items-end mb-4">
		    	<h4 class="table_title">房型預定表列表</h4>
		    	<!-- 新增房間 -->
				<button class="btn btn_accent btn_add" id="btnAddResto">新增房型預定表</button>
		  	</div>
		  	<div class="table-responsive">
		    	<table id="restoTable" class="table table-bordered align-top">
		      		<thead class="table_head align-top">
		        		<tr>
					        <th class="text-center">房型預定表編號</th>
		          			<th class="text-center">房型編號</th>
					        <th class="text-center">房間數量</th>
					        <th class="text-center">已訂房間數量</th>
					        <th class="text-center">日期</th>
					        <th>操作</th>
		        		</tr>
		      		</thead>
		      		<tbody>
		        		<tr th:each="roomTypeScheduleVO : ${roomTypeScheduleVOList}">
						    <td class="text-center" th:text="${roomTypeScheduleVO.roomTypeScheduleId}"></td>
						    <td class="text-center" th:text="${roomTypeScheduleVO.roomTypeVO.roomTypeId}"></td>
						    <td class="text-center" th:text="${roomTypeScheduleVO.roomAmount}"></td>
						    <td class="text-center" th:text="${roomTypeScheduleVO.roomRSVBooked}"></td>
						    <td class="text-center" th:text="${roomTypeScheduleVO.roomOrderDate}"></td>
						    <td>
						        <div class="table_row_actions d-flex justify-content-center align-items-start">
									<button class="btn_icon btn_view" th:data-id="${roomTypeScheduleVO.roomTypeScheduleId}"><i class="fas fa-eye"></i></button>
						        	<button class="btn_icon btn_edit" th:data-id="${roomTypeScheduleVO.roomTypeScheduleId}"><i class="fas fa-edit"></i></button>
<!-- 						        	<button class="btn_icon btn_delete" th:data-id="${roomVO.roomId}"><i class="fas fa-trash"></i></button> -->
						        </div>
						    </td>
						</tr>
		      		</tbody>
		    	</table>
		  	</div>
		  	
		  	
			<!-- Modal -->
		  	<div id="restoInfoModalContainer"></div>

		
			<!-- CRUD執行結果提示 -->
			<div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
  				<i class="fa-solid fa-check-circle me-2"></i><span th:text="${message}"></span>
  				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		

		
	</div>		
	
	
</div>